*
!*/

!.config/bspwm/**
!.config/sxhkd/**
!.config/polybar/**
!.config/rofi/**
!.config/picom/**
!.config/neofetch/**
!.config/kitty/**
!.config/fcitx5/**
!.config/gtk-3.0/**

!.local/share/rofi/**

!script/**
!config/**

!.icons/**
!.app/**

!.gitignore
!.zshrc
!.xsession